body {
	margin:40px auto;
	max-width:650px;
	line-height:1.6;
	font-size:18px;
	color:#444;
	padding:010px
	}
h1,h2,h3 {
	line-height:1.2
}
a:link, a:visited {
	color: #30b5b8;
}
hr {
	width: 75%;
	margin-right: 25%;
}